{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Change password for {{ request.user }} - DevelopersAsk{% endblock %}

{% block content %}
	<div class="content-section mb-3">
		<h2>Change password for @{{ user.username }}</h2>
		<hr>
		<form method="POST">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" class="btn btn-success">Change Password</button>
			<a href="{% url 'core:home' %}" class="btn btn-outline-secondary ml-3">Cancel</a>
		</form>
	</div>
{% endblock %}