{% extends 'base_auth.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {% if validlink %}
    Reset password for {{ form.user }} - DevelopersAsk
  {% else %}
    Reset your password - DevelopersAsk
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 mb-2">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Reset password for @{{ form.user }}</h3>
            <hr>
            {% crispy form %}
          {% else %}
            <h3 class="card-title">Reset your password</h3>
            <hr>
            <div class="alert alert-danger" role="alert">
              It looks like you clicked on an invalid password reset link. Please try again.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password reset link</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}