body {
	background-color: #f7f7f7;
}

.bg-light {
	background-color: white !important;
	border-bottom: 3px solid #eeeeee;
}

.navbar-brand {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 25px;
}

.asteriskField {
    display: none;
}

.content-section {
	padding: 20px;
	border: 2px solid #dddddd;
	border-radius: 10px;
	background-color: #FFFFFF;
}

.txt {
	white-space: break-spaces;
}

.re {
	width: 120px;
	border-radius: 35px;
	border-width: 2px;
	font-weight: 600;
}